<mat-toolbar color="primary">
  <mat-toolbar-row>


    <!--  <span>HOME</span> -->
    <span><h2 style="cursor: pointer;" routerLink="">Client Panel</h2></span>
    <span class="spacer"></span>
    <span class="OpMe"><h3>elvis@gmail.com</h3></span>
    <a mat-button (click)="logOut()"><h3>Logout</h3></a>
  </mat-toolbar-row>
</mat-toolbar>

<div *ngIf="dataSource">
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput  (keyup)="applyFilter($event)" placeholder="Search for" />
  </mat-form-field>

  <div id="contentPdf" #contentPdf >
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 data-table" >

      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
        <td mat-cell *matCellDef="let row">{{ row.id }}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td mat-cell *matCellDef="let row">{{ row.name }}</td>
      </ng-container>

      <!-- Email Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
        <td mat-cell *matCellDef="let row">{{ row.email }}</td>
      </ng-container>

      <!-- Phone Column -->
      <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Phone</th>
        <td mat-cell *matCellDef="let row">{{ row.phone }}</td>
      </ng-container>

            <!-- Website Column -->
      <ng-container matColumnDef="website">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>website</th>
        <td mat-cell *matCellDef="let row">{{ row.website }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="dataSource.length"></mat-paginator>
    
  </div>

    <mat-card-title> Export as: </mat-card-title>
    <mat-radio-group [(ngModel)]="values">
      <mat-radio-button *ngFor="let v of chooseValues" [value]="v">
        {{ v }}
      </mat-radio-button>
    </mat-radio-group>


    <ng-container *ngIf="values === 'pdf'">
      <button
        (click)="onServicegeneratePdf()"
        class="spacey"
        mat-raised-button
        color="primary"
      >
        Export as Pdf
      </button>
    </ng-container>

    <ng-container *ngIf="values === 'excel'">
      <button
        (click)="onServicegenerateExcel()"
        class="spacey"
        mat-raised-button
        color="primary"
      >
        Export as Excel
      </button>
    </ng-container>
</div>

<div class="space-text" *ngIf="!dataSource">
  <h1> <i class="fa fa-users"></i> Loading Users from JSON API....</h1>
</div>
